<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Flight Request Admin</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements"
           mat-raised-button class="actions-main" color="primary" routerLink="../features">
          Create Flight Request
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
           [ngClass]="routeAnimationsElements">
          Change Theme
        </a>
        <br>
        <span [ngClass]="routeAnimationsElements">Onboarding Project PM2</span>
        <br>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">

      </div>
    </div>
  </div>
</div>

